In [2]:
import duckdb
import pandas as pd

In [3]:
#tabla paises 
pais = duckdb.sql('''SELECT name AS Nombre FROM enunciado_paises.csv''')

In [6]:
#tabla jugador
jugador = duckdb.sql('''SELECT player_api_id AS ID, player_name AS Nombre FROM enunciado_jugadores.csv''')

In [24]:
#tabla temporada, el id fue creado con pandas
temporada = duckdb.sql('''SELECT DISTINCT season AS Temporada FROM enunciado_partidos.csv''')
df_temporada = temporada.df()         # paso el objeto duckdb a df de pandas
df_temporada['ID'] = range(len(df_temporada),0,-1) # para cada valor de temporada en la nueva columna pongo ese id
df_temporada

   Temporada  Id_temporada
0  2009/2010             8
1  2012/2013             7
2  2011/2012             6
3  2015/2016             5
4  2013/2014             4
5  2008/2009             3
6  2014/2015             2
7  2010/2011             1

In [14]:
# tabla liga, EL ID ESTA MAL, deber√≠a ser uno de estos [1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,21518, 24558]
# pero como saber cual es cual? YA SE, gracias al country_id del partido
liga = duckdb.sql('''
                  SELECT DISTINCT l.name AS Nombre_liga, p.name AS Nombre_pais, part.league_id AS ID
                  FROM enunciado_liga.csv AS l
                  INNER JOIN enunciado_paises.csv AS p ON l.country_id = p.id
                  INNER JOIN enunciado_partidos.csv AS part ON l.country_id = part.country_id
                  ''')

df_liga = liga.df()
# df_liga['ID'] = range(len(df_liga),0,-1)
df_liga

                 Nombre_liga  Nombre_pais     ID
0     Netherlands Eredivisie  Netherlands  13274
1     Belgium Jupiler League      Belgium      1
2    Scotland Premier League     Scotland  19694
3            Spain LIGA BBVA        Spain  21518
4     England Premier League      England   1729
5              Italy Serie A        Italy  10257
6   Portugal Liga ZON Sagres     Portugal  17642
7         Poland Ekstraklasa       Poland  15722
8             France Ligue 1       France   4769
9      Germany 1. Bundesliga      Germany   7809
10  Switzerland Super League  Switzerland  24558

In [10]:
# Tabla Equipos
equipo = duckdb.sql('''SELECT team_api_id AS ID, team_long_name AS Nombre FROM enunciado_equipos.csv''')
df_equipo = equipo.df()
#df_equipo
df_partidos = pd.read_csv('enunciado_partidos.csv')
df_partidos.league_id.unique()

array([    1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,
       21518, 24558])