In [2]:
import duckdb
import pandas as pd

In [3]:
#tabla paises 
pais = duckdb.sql('''SELECT name AS Nombre FROM enunciado_paises.csv''')

In [6]:
#tabla jugador
jugador = duckdb.sql('''SELECT player_api_id AS ID, player_name AS Nombre FROM enunciado_jugadores.csv''')

In [24]:
#tabla temporada, el id fue creado con pandas
temporada = duckdb.sql('''SELECT DISTINCT season AS Temporada FROM enunciado_partidos.csv''')
df_temporada = temporada.df()         # paso el objeto duckdb a df de pandas
df_temporada['ID'] = range(len(df_temporada),0,-1) # para cada valor de temporada en la nueva columna pongo ese id
df_temporada

   Temporada  Id_temporada
0  2009/2010             8
1  2012/2013             7
2  2011/2012             6
3  2015/2016             5
4  2013/2014             4
5  2008/2009             3
6  2014/2015             2
7  2010/2011             1

In [25]:
# tabla liga, EL ID ESTA MAL, deber√≠a ser uno de estos [1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,21518, 24558]
# pero como saber cual es cual? YA SE, gracias al country_id del partido
liga = duckdb.sql('''SELECT l.name AS Nombre, p.name AS Nombre FROM enunciado_liga.csv AS l INNER JOIN enunciado_paises.csv AS p ON l.country_id = p.id''')
df_liga = liga.df()
df_liga['ID'] = range(len(df_liga),0,-1)
df_liga

                 Nombre_liga  Nombre_pais  ID
0     Belgium Jupiler League      Belgium  11
1     England Premier League      England  10
2             France Ligue 1       France   9
3      Germany 1. Bundesliga      Germany   8
4              Italy Serie A        Italy   7
5     Netherlands Eredivisie  Netherlands   6
6         Poland Ekstraklasa       Poland   5
7   Portugal Liga ZON Sagres     Portugal   4
8    Scotland Premier League     Scotland   3
9            Spain LIGA BBVA        Spain   2
10  Switzerland Super League  Switzerland   1

In [10]:
# Tabla Equipos
equipo = duckdb.sql('''SELECT team_api_id AS ID, team_long_name AS Nombre FROM enunciado_equipos.csv''')
df_equipo = equipo.df()
#df_equipo
df_partidos = pd.read_csv('enunciado_partidos.csv')
df_partidos.league_id.unique()

array([    1,  1729,  4769,  7809, 10257, 13274, 15722, 17642, 19694,
       21518, 24558])